{
  "databaseLocal": {
    "config": {
      "host": "localhost",
      "port": 3306,
      "user": "username",
      "password": "password",
      "database": "test"
    },
  },
  "databaseProduction": {
    "config": {
      "host": "localhost",
      "port": 3306,
      "user": "username",
      "password": "password",
      "database": "test"
    },
    "targetTable": "departments",
    "searchField": "id",
    "showField": "data"
  }
}